<div class="jumbotron text-center">
  <h3>
    Equal Employment Opportunity Commission (“EEOC”) v. GMRI, Inc. (“Seasons 52”)
    Case No. 15-cv-20561-JAL/JG (S.D. Fla.)
  </h3>
  <h3><code>DEADLINE: [DATE]</code></h3>
</div>

<p>
  The Court entered a Consent Decree on May 3, 2018 settling EEOC’s lawsuit against Seasons
  52, in which EEOC alleged that Seasons 52 discriminated on the basis of age in hiring at 35 of its
  newly-opened restaurant locations.
</p>
<p>
  If you applied in person or were interviewed in person for a back of house or front of house
  position at one of the 35 newly opened stores included in EEOC’s lawsuit, were age 40 or over at
  the time of your application, and were not hired, you may be entitled to a payment from this
  settlement.
</p>

<p>
  The purpose of this website is to inform you of the existence of this lawsuit, give eligible
  applicants an opportunity to participate in the settlement, and instruct you on the procedure for
  participating, should you choose to do so. In order to participate, all claim forms must be
  submitted online or post-marked by [date]. If you do not submit or mail a claim form by
  this date, you will likely not receive any relief as part of the settlement.
</p>
<br />

<p><strong>Read more details about the lawsuit and the settlement here: </strong><a href='FAQ'>FAQ</a></p>
<p><strong>Submit a Claims Form and Release of Claims here: </strong><a [routerLink]='["/claim"]'>Claim Form</a></p>




<div class="jumbotron text-center">
  <h3>
    <code>
      ALL CLAIM FORMS MUST BE SUBMITTED AND
      POST-MARKED BY [DATE]
    </code>
  </h3>
</div>

<div class="text-center">
  <h3>FAQ</h3>
</div>


<strong>Q: What is this lawsuit about and why is there a settlement?</strong>
<p>
  A: The Equal Employment Opportunity Commission (“EEOC”) is a federal agency that enforces
  several federal laws prohibiting discrimination in employment on the basis of several protected
  categories, including race, color, national origin, sex, religion, disability, age, and genetic
  information (read more about EEOC at www.eeoc.gov). EEOC brought this lawsuit under the
  Age Discrimination in Employment Act (“ADEA”). EEOC’s lawsuit, filed in the United States
  District Court for the Southern District of Florida, Case No. 15-cv-20561-JAL/JG, alleged that
  Seasons 52 discriminated on the basis of age in hiring at 35 of its newly opened restaurants.
</p>
<p>
  On May 3, 2018, the Court approved a Consent Decree resolving the lawsuit that includes $2.85
  million in relief for aggrieved individuals and significant injunctive relief, including changes to
  Seasons 52’s policies and training.
</p>

<strong>Q: Who is included?</strong>

<p>
  A: The settlement includes applicants to front of house or back of house positions who applied in
  person or were interviewed in person at any of the 35 new Seasons 52 restaurant openings, were
  age 40 or over at the time of their application, and were never hired by Seasons 52.
</p>
<p>

</p>

<div>
  <p>- The 35 new restaurant openings included in the settlement are:</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <ul>
        <li>Tampa, FL.</li>
        <li>King of Prussia, PA</li>
        <li>Schaumberg, IL</li>
        <li>Costa Mesa, CA</li>
        <li>Plano, TX</li>
        <li>Phoenix, TX</li>
        <li>Coral Gables, FL</li>
        <li>Indianapolis, IN</li>
        <li>North Bethesda, MD</li>
        <li>McLean, VA</li>
        <li>Naples, FL</li>
        <li>Jacksonville, FL</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul>
        <li>Kansas City, MO</li>
        <li>Garden City, NY</li>
        <li>Oak Brook, IL</li>
        <li>Dallas, TX</li>
        <li>San Diego, CA</li>
        <li>Los Angeles, CA</li>
        <li>Sacramento, CA</li>
        <li>Norwood, OH</li>
        <li>Birmingham, AL</li>
        <li>Santa Monica, CA</li>
        <li>Houston, TX</li>
        <li>Burlington, MA</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul>
        <li>Chicago, IL</li>
        <li>Chestnut Hill, MA</li>
        <li>San Diego, CA</li>
        <li>Houston, TX</li>
        <li>Edison, NJ</li>
        <li>Memphis, TN</li>
        <li>Columbia, MD</li>
        <li>Lone Tree, CO</li>
        <li>Sarasota, FL</li>
        <li>Princeton, NJ</li>
        <li>Bridgewater, NJ</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <p>
    - Front of house positions refers to all front of house, non-management positions
    compensated on an hourly basis, including host/ess, server, bartender, and foodrunner.
    Back of house positions refers to all back of house, non-management positions
    compensated on an hourly basis, including steward, prep cook, and line cook.
  </p>
</div>

<div>
  <p>
    - EEOC has sole authority to make final eligibility determinations and to determine the
    amount to be paid to each eligible claimant in accordance with the procedure set out by
    the Consent Decree.
  </p>
</div>

<strong>Q: How do I make a claim?</strong>
<p>
  A: In order to make a claim and participate in the settlement, you MUST either fill out and post-
  mark the questionnaire you received in the mail OR fill out the questionnaire on this website by
  [DEADLINE]. All claims must be submitted either by mail or online by this date. On-line
  forms received after this date, and paper forms post-marked after this date, will likely not be
  considered. Anyone whose claim is submitted after this date will likely not be entitled to any
  monetary relief. Therefore, you should submit your claim form as soon as possible. If returning
  via mail, you should consider using expedited delivery service and mail tracking.
</p>


<strong>Q: How will I know that I am eligible/how much money will I receive?</strong>
<p>
  A: After the deadline for return of the claim forms, EEOC will determine eligibility and will
  notify claimants of the amount of their monetary award (if any). Analysis of the claims forms
  will take some time. You should not expect to receive notification of the determination of a
  monetary award for a number of months after the deadline date. If EEOC determines that you are
  eligible for a monetary award, the notification letter will include a release of claims that you
  must sign and return to obtain any monetary relief. Any monetary relief probably will not be paid
  until [DATE].
</p>

<strong>Q: What happens if I am interested in working for Seasons 52?</strong>
<p>
  A: If you are interested in reapplying for employment with Seasons 52 for a front of
  house or back of house position, you can apply online on Seasons 52’s website for any vacancy
  at any Seasons 52 location. You will be considered along with any other applicant and will NOT
  be subjected to either age discrimination or retaliation for having participated in this lawsuit as a
  Claimant. However, an individual’s eligibility for an award does not mean that the same
  individual is presently qualified for employment with Seasons 52 in a front of house and/or back
  of house position. Eligibility does not guarantee or secure a position with Seasons 52 for any
  individual now, or in the future.
</p>

<strong>Q: How can I get more information?</strong>
<p>
  A: If you have additional questions or need more information about the claims process or the
  receipt of your information, you can contact the Claims Administrator using the contact
  information below. The Claims Administrator will not be able to answer questions about your
  eligibility to participate in the settlement or about the amount of any individual awards.
</p>
